.jupyter/desktop-settings.json
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
Old_Code_Copies/choropleth_maps_OLD.ipynb
project_plans_and_notes.csv
Outtakes/State Data with County Shapefiles.png
project_plans_and_notes.xlsx
Mapping/choropleth_maps.pdf
Mapping/choropleth_maps.py
Outtakes/A few too many labels.png
Outtakes/Confused Lat and Lon.png
Appendix/launch_miniforge_shortcut.lnk
Appendix/launch_pfnv2.bat
**-checkpoint**
pfn_2_project_plans_and_notes.xlsx
**.pyc
**_OLD**
Mapping/test_screenshot.png
Mapping/maps/basic_choropleth.html
Mapping/maps/choropleth_with_tooltips.html
Census_Data_Imports/census_api_key_path.txt
~$pfn_2_project_plans_and_notes.xlsx
Census_Data_Imports/census_data_imports_no_output.pdf
OLD pfn_2_project_plans_and_notes.xlsx
Introduction/case_for_python_notebook_copy_for_pdfs.ipynb
Output_Free_PDF_Copies
Mapping/choropleth_map_functions_for_pdf.ipynb
dash_notebook_test.ipynb
Old_App_Copies/
**.jupyterlab-workspace**
html_copies_for_printing/
PDF_copies_with_output/
test_image.html