.jupyter/desktop-settings.json
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
Old_Code_Copies/choropleth_maps_OLD.ipynb
project_plans_and_notes.csv
Outtakes/State Data with County Shapefiles.png
project_plans_and_notes.xlsx
Mapping/choropleth_maps.pdf
Mapping/choropleth_maps.py
Outtakes/A few too many labels.png
Outtakes/Confused Lat and Lon.png
Appendix/launch_miniforge_shortcut.lnk
Appendix/launch_pfnv2.bat
**-checkpoint**
pfn_2_project_plans_and_notes.xlsx
**.pyc
**_OLD**
Mapping/test_screenshot.png
Mapping/maps/basic_choropleth.html
Mapping/maps/choropleth_with_tooltips.html
Census_Data_Imports/census_api_key_path.txt
~$pfn_2_project_plans_and_notes.xlsx
Census_Data_Imports/census_data_imports_no_output.pdf
OLD pfn_2_project_plans_and_notes.xlsx
Introduction/case_for_python_notebook_copy_for_pdfs.ipynb
Output_Free_PDF_Copies
Mapping/choropleth_map_functions_for_pdf.ipynb
dash_notebook_test.ipynb
Old_App_Copies/
_build/
**.jupyterlab-workspace**
html_copies_for_printing/
PDF_copies_with_output/
test_image.html
Online_Visualizations/PFN_Dash_App_Demo/readme_nb_for_pdf_export.ipynb
PDF_Copies/pdf_numbering_code.txt
PDF_Copies/qpdf_merge_code.txt
Automated_Notebooks/autorun_shell_script.log
Automated_Notebooks/.jupyter/desktop-settings.json
Automated_Notebooks/autorun_shell_script_v2.sh
Automated_Notebooks/recent_weather_output/old_hourly_data.csv
Automated_Notebooks/recent_weather_output/old_KCHO_historical_hourly_data_v2.csv
Automated_Notebooks/recent_weather_output/old_KCHO_historical_hourly_data.csv
Automated_Notebooks/recent_weather_output/old_KCHO_most_recent_3_day_data.csv
Automated_Notebooks/temp_historical_data.csv
Automated_Notebooks/recent_weather_output/temp/KCHO_historical_hourly_data.csv
Automated_Notebooks/git_credential_cache_command.txt
Automated_Notebooks/.ipynb
Updating_Online_Spreadsheets/online_spreadsheet_update.sh
Updating_Online_Spreadsheets/service_key_path.txt
Automated_Notebooks/weather_import.py
Online_Visualizations/local_service_account_connection.txt
Mapping/colorbar_test.png
Mapping/colorbar_test.svg
Mapping/county_pop_pct_growth_2012-2022_categorical.html
Mapping/county_pop_pct_growth_2012-2022_scalar.html
Mapping/county_pop_pct_growth_2012-2022_smaller.html
Mapping/county_pop_pct_growth_2012-2022.html
Mapping/county_pop_pct_growth_2012-2022.png
Mapping/gdf_for_map.csv
Mapping/gdf_for_map.geojson
Mapping/plotly_choropleth_tests_v2.ipynb
Mapping/plotly_choropleth_tests.ipynb
Mapping/test_plotly_map_hd.html
Mapping/test_plotly_map.html
Mapping/test_plotly_map.png
.~lock.pfn_2_project_plans_and_notes.xlsx#
copy_book_files_into_JB_folder.ipynb
render_commands.txt
Appendix/helper_funcs_nb.ipynb
Graphing/.jupyter/desktop-settings.json
Mapping/plotly_choropleth_map_functions_nb.ipynb
Appendix/create_print_book.ipynb
Updating_Online_Spreadsheets/online_spreadsheet_update_local_computer.sh
Old_Code_Copies/income_home_val_regressions.ipynb
_toc_regression_section_test.yml
_toc_just_regressions.yml
local_image_files_within_markdown_test.md
OLD_README.md
pfn_2_project_plans_and_notes_v2.xlsx
create_pdflatex_and_pdfhtml_book.sh
test_readme.ipynb
.jupyter
Online_Visualizations/Simple_App_Without_Login/app_old.py
PDF_Copies